.card {
	position: relative;
}
.card img {
	position: block;
	border: 2px solid white;
	width: 100%;
	border-radius: 6px;
    cursor: pointer;
}
.card .front-img{
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
}
.flipped .front-img{
    transform: rotateY(0deg);
    transition-delay: 0.25s;

}
.card .back-img{
    transition: all ease-in 0.2s;
    transition-delay: 0.25s;

}
.flipped .back-img{
    transform: rotateY(90deg);
    transition-delay: 0s;

}